*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Lato', Arial, Helvetica, sans-serif; }

.heading__secondary {
  text-transform: uppercase;
  color: #353738; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-middle {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 7rem; }

.story-box {
  text-align: center;
  font-size: 2rem; }
  .story-box__text {
    color: #8c8e90;
    line-height: 1.7; }

.header {
  height: 95vh;
  background-image: url(../../images/header.jpg);
  background-size: cover;
  background-position: top;
  padding: 2rem 0; }

.navigation {
  font-size: 1.7rem;
  text-transform: uppercase; }
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__item {
    list-style: none;
    margin: 0 3rem;
    transition: .3s; }
    .navigation__item:hover {
      transform: scale(1.1); }
  .navigation__link {
    text-decoration: none;
    color: #4d4959; }

.section-story {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 13rem 10rem; }
