@keyframes rotScale {
  0% {
    transform: rotate(0deg) scale(1.2); }
  100% {
    transform: rotate(360deg) scale(1.2); } }

@keyframes scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }

@keyframes dingle {
  0% {
    transform: rotate(10deg) translateY(-5px) scale(1.1); }
  10% {
    transform: rotate(-10deg) translateY(-5px) scale(1.1); }
  20% {
    transform: rotate(10deg) translateY(-5px) scale(1.1); }
  30% {
    transform: rotate(-10deg) translateY(-5px) scale(1.1); }
  40% {
    transform: rotate(10deg) translateY(-5px) scale(1.1); }
  50% {
    transform: rotate(-10deg) translateY(-5px) scale(1.1); }
  60% {
    transform: rotate(10deg) translateY(-5px) scale(1.1); }
  70% {
    transform: rotate(-10deg) translateY(-5px) scale(1.1); }
  80% {
    transform: rotate(10deg) translateY(-5px) scale(1.1); }
  90% {
    transform: rotate(-10deg) translateY(-5px) scale(1.1); }
  100% {
    transform: rotate(10deg) translateY(-5px) scale(1.1); } }

.animation-rotate:hover {
  animation: 1s infinite rotScale;
  animation-timing-function: linear; }

.animation-scale {
  transition: all .5s; }
  .animation-scale:hover {
    transform: scale(1.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Lato', Arial, Helvetica, sans-serif; }
  @media (max-width: 75.8em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 95%; } }

.heading__secondary {
  text-transform: uppercase;
  color: #353738;
  font-size: 2rem; }

.heading__tertiary {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600; }

.paragraph {
  color: #8c8e90;
  line-height: 1.7; }
  .paragraph--justify {
    color: #8c8e90;
    line-height: 1.7;
    text-align: justify; }

.span--gray {
  text-transform: lowercase;
  margin-left: 2rem;
  color: gray;
  font-weight: 300; }

.mail--italic {
  display: block;
  font-size: 3rem;
  text-transform: capitalize; }

.u-margin-bottom-xs {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-middle {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 7rem; }

.u-text-center {
  text-align: center; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.btn {
  display: block;
  padding: 1.5rem 10rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  transition: .5s;
  border-radius: 2px; }
  @media (max-width: 75.8em) {
    .btn {
      margin-bottom: 5rem;
      width: 60%;
      text-align: center; } }
  @media (max-width: 40.5em) {
    .btn {
      padding: 2.5rem 3rem;
      font-size: 2.5rem;
      width: 95%; } }
  .btn--green {
    color: #64c29e;
    border: 1px solid #64c29e; }
    .btn--green:first-child:hover {
      transform: translate(-8px, -8px) scale(1.1);
      color: #fff;
      border: 1px solid #fff;
      background-color: #64c29e; }
    .btn--green:first-child:active {
      transform: translate(-2px, -2px); }
    @media (max-width: 60em) {
      .btn--green:first-child:hover {
        transform: translate(0px, 0px) scale(1.1);
        color: #fff;
        border: 1px solid #fff;
        background-color: #64c29e; }
      .btn--green:first-child:active {
        transform: translate(0px, 0px); } }
    .btn--green:last-child:hover {
      transform: translate(8px, -8px) scale(1.1);
      color: #fff;
      border: 1px solid #fff;
      background-color: #64c29e; }
    .btn--green:last-child:active {
      transform: translate(2px, -2px); }
    @media (max-width: 60em) {
      .btn--green:last-child:hover {
        transform: translate(0px, 0px) scale(1.1);
        color: #fff;
        border: 1px solid #fff;
        background-color: #64c29e; }
      .btn--green:last-child:active {
        transform: translate(0px, 0px); } }
  .btn--white {
    color: #fff;
    border: 1px solid #fff; }
    .btn--white:hover {
      transform: translateY(-8px) scale(1.1);
      color: #64c29e;
      border: 1px solid #64c29e;
      background-color: #fff; }
    .btn--white:active {
      transform: translateY(-2px); }
    @media (max-width: 60em) {
      .btn--white:hover {
        transform: translate(0px, 0px) scale(1.1);
        color: #64c29e;
        border: 1px solid #64c29e;
        background-color: #fff; }
      .btn--white:active {
        transform: translate(0px, 0px); } }

.carousel-radio {
  display: none; }
  .carousel-radio--1:checked ~ .comment-box--one {
    display: block; }
  .carousel-radio--1:checked ~ .carousel__labels .carousel__labels-item--first::after {
    background: gray; }
  .carousel-radio--2:checked ~ .comment-box--two {
    display: block; }
  .carousel-radio--2:checked ~ .carousel__labels .carousel__labels-item--second::after {
    background: gray; }
  .carousel-radio--3:checked ~ .comment-box--three {
    display: block; }
  .carousel-radio--3:checked ~ .carousel__labels .carousel__labels-item--third::after {
    background: gray; }

.carousel__labels {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  @media (max-width: 75.8em) {
    .carousel__labels {
      bottom: 5rem; } }
  @media (max-width: 40.5em) {
    .carousel__labels {
      bottom: 7rem; } }
  .carousel__labels-item::after {
    content: "";
    display: inline-block;
    margin: 0 2rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer; }
    @media (max-width: 75.8em) {
      .carousel__labels-item::after {
        width: 1.3rem;
        height: 1.3rem; } }

.mail-box {
  text-align: center; }
  .mail-box__form {
    display: flex;
    width: 100%; }
    @media (max-width: 40.5em) {
      .mail-box__form {
        display: block; } }
    .mail-box__form--input {
      width: 44rem;
      outline: none;
      font-size: 2.6rem;
      padding: 2rem 4rem 2rem 2rem;
      color: #b6b8b9;
      font-style: italic;
      border: 1px solid #b6b8b9;
      border-bottom: 3px solid #64c29e; }
      .mail-box__form--input:focus:invalid {
        border-bottom: 3px solid #ff5c2b; }
      @media (max-width: 40.5em) {
        .mail-box__form--input {
          width: 95%;
          margin-bottom: 3rem; } }
  .mail-box__btn {
    width: 12rem;
    outline: none;
    margin-left: 1rem;
    font-size: 2.6rem;
    padding: 2rem 2rem;
    color: #fff;
    background: #64c29e;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s; }
    .mail-box__btn:hover {
      transform: translate(3px, -3px);
      box-shadow: -0.1rem 0.7rem 1rem rgba(0, 0, 0, 0.4); }
    .mail-box__btn:active {
      transform: translate(1px, -1px);
      box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.4); }
    @media (max-width: 40.5em) {
      .mail-box__btn {
        width: 95%;
        margin: 0; } }

.navigation {
  font-size: 1.7rem;
  text-transform: uppercase; }
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 60em) {
      .navigation__list {
        flex-direction: column; } }
  .navigation__item {
    list-style: none;
    margin: 0 3rem;
    transition: .3s; }
    .navigation__item:hover {
      font-weight: 400;
      transform: scale(1.1); }
    @media (max-width: 60em) {
      .navigation__item:nth-child(even) {
        display: none; }
      .navigation__item:nth-child(odd) {
        width: 100%;
        margin: 2rem 0 2rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        background-color: rgba(247, 247, 247, 0.3); } }
  .navigation__link {
    text-decoration: none;
    color: #4d4959; }

.nav-logo {
  transition: .6s; }
  .nav-logo:hover {
    transform: translateY(5rem) scale(1.6) rotate(360deg); }
    @media (max-width: 60em) {
      .nav-logo:hover {
        transform: translateY(0) scale(1.2) rotate(0deg); } }

.section-presentation__one {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55rem;
  grid-template-areas: "ione ione tb"; }
  @media (max-width: 75.8em) {
    .section-presentation__one {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 55rem;
      grid-template-areas: "ione tb"; } }
  @media (max-width: 40.5em) {
    .section-presentation__one {
      grid-template-columns: 1fr;
      grid-template-rows: 55rem;
      grid-template-areas: "tb"; } }

.section-presentation__bg--one {
  background-image: url("../images/bg_one.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain; }

.section-presentation__two {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55rem;
  grid-template-areas: "tb itwo itwo"; }
  @media (max-width: 75.8em) {
    .section-presentation__two {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 55rem;
      grid-template-areas: "tb itwo"; } }
  @media (max-width: 40.5em) {
    .section-presentation__two {
      grid-template-columns: 1fr;
      grid-template-rows: 55rem;
      grid-template-areas: "tb"; } }

.section-presentation__bg--two {
  background-image: url("../images/bg__two.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain; }

.section-presentation__three {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55rem;
  grid-template-areas: "ithree tb ifour"; }
  @media (max-width: 75.8em) {
    .section-presentation__three {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 55rem;
      grid-template-areas: "ithree tb"; } }
  @media (max-width: 40.5em) {
    .section-presentation__three {
      grid-template-columns: 1fr;
      grid-template-rows: 55rem;
      grid-template-areas: "tb"; } }

.section-presentation__bg--three {
  background-image: url("../images/bg__three.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain; }

.section-presentation__img {
  position: relative;
  overflow: hidden; }
  .section-presentation__img--1 {
    background-image: url("../images/bicycle_company.jpg");
    background-size: cover;
    grid-area: ione; }
  .section-presentation__img--2 {
    background-image: url("../images/vintage.jpg");
    background-size: cover;
    grid-area: itwo; }
  .section-presentation__img--3 {
    background-image: url("../images/bicycles1.jpg");
    background-size: cover;
    grid-area: ithree; }
  .section-presentation__img--4 {
    background-image: url("../images/bicycles2.jpg");
    background-size: cover;
    grid-area: ifour; }
  .section-presentation__img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all .4s; }
    .section-presentation__img-wrap:hover {
      opacity: 1; }

.section-presentation__wrap {
  position: relative;
  height: 40rem;
  transition: all 1s;
  background-color: #fff; }
  .section-presentation__wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    transform: translateY(50%) rotate(45deg); }
  .section-presentation__wrap:hover {
    height: 55rem; }
    @media (max-width: 40.5em) {
      .section-presentation__wrap:hover {
        height: 50rem; } }
  .section-presentation__wrap:hover::after {
    transition: all 1s;
    background-color: transparent;
    box-shadow: -2px -2px 1px 1px rgba(0, 0, 0, 0.3); }

.section-presentation__box {
  position: relative;
  height: 40rem;
  padding: 4rem 5rem;
  text-align: center;
  font-size: 1.7rem;
  grid-area: tb; }
  .section-presentation__box::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 3rem;
    left: 50%;
    width: 6rem;
    height: 1px;
    transform: translate(-50%, 50%);
    background-color: #5e5e5e; }
    @media (max-width: 40.5em) {
      .section-presentation__box::after {
        display: none; } }
  .section-presentation__box:hover::after {
    transition: all 1s;
    background-color: transparent; }

.section-presentation__article {
  height: 10rem; }

.story-box {
  width: 100%;
  text-align: center;
  font-size: 2rem; }
  .story-box__text {
    font-size: 2rem; }

.comment-box {
  display: none; }

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "location icons madeby";
  background-color: #f7f7f7;
  padding: 13rem 10rem;
  justify-items: center;
  font-size: 2rem; }
  @media (max-width: 75.8em) {
    .footer {
      padding: 13rem 0; } }
  @media (max-width: 60em) {
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: 10rem 10rem 10rem;
      grid-gap: 3rem;
      grid-template-areas: "location" "madeby" "icons";
      padding: 8rem 0; } }
  .footer-madeby {
    grid-area: madeby; }
  .footer-location {
    font-style: italic;
    color: #b6b8b9;
    grid-area: location; }
    @media (max-width: 60em) {
      .footer-location {
        text-align: center; } }
    .footer-location--header {
      font-size: 2rem;
      font-style: normal;
      color: #8c8e90; }
  .footer__icons {
    width: 5rem;
    margin: 0 1rem;
    cursor: pointer;
    grid-area: icons; }
    .footer__icons:hover {
      animation: 1s infinite dingle;
      animation-timing-function: linear; }
  .footer--author {
    margin-top: -1rem;
    transform: translateY(2rem);
    transition: all .5s; }
    .footer--author:hover {
      transform: translateY(2rem) scale(1.1) rotate(10deg); }

.header {
  height: 95vh;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: top;
  padding: 2rem 0; }
  @media (max-width: 60em) {
    .header {
      height: auto;
      padding: 4rem 0; } }

.logo-box {
  display: none;
  text-align: center; }
  @media (max-width: 60em) {
    .logo-box {
      display: block;
      margin-bottom: 5rem; } }

.section-story {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13rem 10rem;
  background-color: #f7f7f7; }
  @media (max-width: 75.8em) {
    .section-story {
      padding: 15rem 3rem; } }
  @media (max-width: 40.5em) {
    .section-story {
      padding: 15rem 2rem; } }

.section-comments {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13rem 10rem;
  width: 100%;
  text-align: center;
  background-color: #f7f7f7; }
  @media (max-width: 75.8em) {
    .section-comments {
      padding: 15rem 3rem; } }
  @media (max-width: 40.5em) {
    .section-comments {
      padding: 15rem 2rem; } }

.section-service {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 26rem 26rem;
  grid-template-areas: "bone bthree bfour bfive bseven bseven" "btwo btwo bfour bfive bsix beight"; }
  @media (max-width: 60em) {
    .section-service {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 26rem 26rem 26rem 26rem;
      grid-template-areas: "bone bthree" "btwo  bfour" "bfive bseven" "bsix beight"; } }
  .section-service__block {
    position: relative; }
    .section-service__block--one {
      background-image: url("../images/section-service/foto_1.jpg");
      background-size: cover;
      grid-area: bone; }
    .section-service__block--two {
      background-image: url("../images/section-service/foto_2.jpg");
      background-size: cover;
      grid-area: btwo; }
    .section-service__block--three {
      background-image: url("../images/section-service/foto_3.jpg");
      background-size: cover;
      grid-area: bthree; }
    .section-service__block--four {
      background-image: url("../images/section-service/foto_4.jpg");
      background-size: cover;
      grid-area: bfour; }
    .section-service__block--five {
      background-image: url("../images/section-service/foto_5.jpg");
      background-size: cover;
      grid-area: bfive; }
    .section-service__block--six {
      background-image: url("../images/section-service/foto_6.jpg");
      background-size: cover;
      grid-area: bsix; }
    .section-service__block--seven {
      background-image: url("../images/section-service/foto_7.jpg");
      background-size: cover;
      grid-area: bseven; }
    .section-service__block--eight {
      background-image: url("../images/section-service/foto_8.jpg");
      background-size: cover;
      grid-area: beight; }
    .section-service__block--wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(100, 194, 158, 0.7);
      transition: all .4s; }
      .section-service__block--wrap:hover {
        opacity: 1; }

.section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13rem 10rem;
  justify-content: space-between;
  background-color: #282f35; }
  @media (max-width: 75.8em) {
    .section-buttons {
      padding: 15rem 3rem; } }
  @media (max-width: 40.5em) {
    .section-buttons {
      padding: 15rem 2rem; } }
  @media (max-width: 75.8em) {
    .section-buttons {
      flex-direction: column; } }

.section-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13rem 10rem; }
  @media (max-width: 75.8em) {
    .section-mail {
      padding: 15rem 3rem; } }
  @media (max-width: 40.5em) {
    .section-mail {
      padding: 15rem 2rem; } }
  @media (max-width: 40.5em) {
    .section-mail {
      display: block; } }
