@keyframes rotScale {
  0% {
    transform: rotate(0deg) scale(1.2); }
  100% {
    transform: rotate(360deg) scale(1.2); } }

@keyframes translateGrid {
  0% {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  100% {
    grid-column: 3 / 4;
    grid-row: 1 / 3; } }

.animation-rotate:hover {
  animation: 1s infinite rotScale;
  animation-timing-function: linear; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Lato', Arial, Helvetica, sans-serif; }

.heading__secondary {
  text-transform: uppercase;
  color: #353738;
  font-size: 2rem; }

.paragraph {
  color: #8c8e90;
  line-height: 1.7; }
  .paragraph--justify {
    color: #8c8e90;
    line-height: 1.7;
    text-align: justify; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-middle {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 7rem; }

.u-text-center {
  text-align: center; }

.section-presentation__one {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55rem;
  grid-template-areas: "ione ione tb"; }

.section-presentation__bg--one {
  background-image: url("../images/bg_one.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain; }

.section-presentation__two {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55rem;
  grid-template-areas: "tb itwo itwo"; }

.section-presentation__bg--two {
  background-image: url("../images/bg__two.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain; }

.section-presentation__three {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55rem;
  grid-template-areas: "ithree tb ifour"; }

.section-presentation__bg--three {
  background-image: url("../images/bg__three.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain; }

.section-presentation__img--1 {
  background-image: url("../images/bicycle_company.jpg");
  background-size: cover;
  grid-area: ione; }

.section-presentation__img--2 {
  background-image: url("../images/vintage.jpg");
  background-size: cover;
  grid-area: itwo; }

.section-presentation__img--3 {
  background-image: url("../images/bicycles1.jpg");
  background-size: cover;
  grid-area: ithree; }

.section-presentation__img--4 {
  background-image: url("../images/bicycles2.jpg");
  background-size: cover;
  grid-area: ifour; }

.section-presentation__wrap {
  position: relative;
  height: 40rem;
  transition: all 1s;
  background-color: #fff; }
  .section-presentation__wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    transform: translateY(50%) rotate(45deg); }
  .section-presentation__wrap:hover {
    height: 55rem; }
  .section-presentation__wrap:hover::after {
    transition: all 1s;
    background-color: transparent;
    box-shadow: -2px -2px 1px 1px rgba(0, 0, 0, 0.3); }

.section-presentation__box {
  position: relative;
  height: 40rem;
  padding: 4rem 5rem;
  text-align: center;
  font-size: 1.7rem;
  grid-area: tb; }
  .section-presentation__box::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 3rem;
    left: 50%;
    width: 6rem;
    height: 1px;
    transform: translate(-50%, 50%);
    background-color: #5e5e5e; }
  .section-presentation__box:hover::after {
    transition: all 1s;
    background-color: transparent; }

.section-presentation__article {
  height: 10rem;
  text-overflow: hidden; }

.story-box {
  text-align: center;
  font-size: 2rem; }
  .story-box__text {
    font-size: 2rem; }

.header {
  height: 95vh;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: top;
  padding: 2rem 0; }

.navigation {
  font-size: 1.7rem;
  text-transform: uppercase; }
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center; }
  .navigation__item {
    list-style: none;
    margin: 0 3rem;
    transition: .3s; }
    .navigation__item:hover {
      transform: scale(1.1); }
  .navigation__link {
    text-decoration: none;
    color: #4d4959; }

.section-story {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 13rem 10rem; }
