.section-story {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 13rem 10rem;
}

.section-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 13rem 10rem;
}

.section-service {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 26rem 26rem;
    grid-template-areas:    
        "bone bthree bfour bfive bseven bseven"
        "btwo btwo bfour bfive bsix beight";


    &__block {
        position: relative;


        &--one{
            background-image: url('../../images/section-service/foto_1.jpg');
            grid-area: bone;

        }

        &--two{
            background-image: url('../../images/section-service/foto_2.jpg');
            grid-area: btwo;
        }

        &--three{
            background-image: url('../../images/section-service/foto_3.jpg');
            grid-area: bthree;
        }

        &--four{
            background-image: url('../../images/section-service/foto_4.jpg');
            grid-area: bfour;
        }

        &--five{
            background-image: url('../../images/section-service/foto_5.jpg');
            grid-area: bfive;
        }

        &--six{
            background-image: url('../../images/section-service/foto_6.jpg');
            grid-area: bsix;

        }
        &--seven{
            background-image: url('../../images/section-service/foto_7.jpg');
            grid-area: bseven;
        }

        &--eight{
            background-image: url('../../images/section-service/foto_8.jpg');
            grid-area: beight;
        }

        &--wrap {
            @include positionCenter;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba($primary-color, .7);
            transition: all .4s;
    
            &:hover {
                opacity: 1;
            }
        }
        
    }
}