.header {
   height: 95vh;
   background-image: url(../images/header.jpg); 
   background-size: cover;
   background-position: top;
   padding:  2rem 0;
}

.navigation {

    font-size: 1.7rem;
    text-transform: uppercase;


    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {    
        list-style: none;
        margin: 0 3rem;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__link {
        text-decoration: none;
        color: $nav-color;
    }

}

