.mail-box {
    text-align: center;

    &__form {
        display: flex;
        width: 100%;

        &--input {
            width: 44rem;
            outline: none;
            font-size: 2.6rem;
            padding: 2rem 4rem 2rem 2rem;
            color: $text-color-light;
            font-style: italic;
            border: 1px solid $text-color-light;
            border-bottom: 3px solid $primary-color;

            &:focus:invalid {
                border-bottom: 3px solid $invalid-color;
            }
        }
    }

    &__btn {
        width: 12rem;
        outline: none;
        margin-left: 1rem;
        font-size: 2.6rem;
        padding: 2rem 2rem;
        color: #fff;
        background: $primary-color;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            transform: translate(3px, -3px);
            box-shadow: -.1rem .7rem 1rem rgba(0, 0, 0, 0.4);
        }

        &:active {
            transform: translate(1px, -1px);
            box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
        }
    }

}