.mail-box {
    text-align: center;

    &__form {
        display: flex;
        width: 100%;


        &--input {
            width: 34rem;
            outline: none;
            font-size: 1.6rem;
            padding: 2rem 4rem 2rem 2rem;
            color: $text-color;
            font-style: italic;
        }
    }
    &__btn {
            
    }

}