.navigation {

    font-size: 1.7rem;
    text-transform: uppercase;


    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {    
        list-style: none;
        margin: 0 3rem;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__link {
        text-decoration: none;
        color: $nav-color;
    }

}

.nav-logo {
    transition: 1s;
    
    &:hover {
        transform: translateY(5rem) scale(1.6) rotate(360deg);
    }
}
