*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}


html {
    font-size: 62.5%; //1rem = 10px 10/16 = 62.5%
    font-family: 'Lato', Arial, Helvetica, sans-serif;

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px, 9/16=0.5025
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px, 8/16=0.50 
    }
    
    @include respond(huge-desktop) {
        font-size: 75%; //1rem = 12px, 12/16=0.75 
    }
}

body {
}
