.heading__secondary {
    text-transform: uppercase;
    color: $title-color;
    font-size: 2rem;
}

.heading__tertiary {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
}

.paragraph {
    color: $text-color;
    line-height: 1.7;

    &--justify {
        color: $text-color;
        line-height: 1.7;
        text-align: justify;
    }
}

.span--gray {
    text-transform: lowercase;
    margin-left: 2rem;
    color: gray;
    font-weight: 300;
}

.mail--italic {
    display: block;
    font-size: 3rem;
    text-transform: capitalize;
}