.heading__secondary {
    text-transform: uppercase;
    color: $title-color;
    font-size: 2rem;
}

.paragraph {
    color: $text-color;
    line-height: 1.7;

    &--justify {
        color: $text-color;
        line-height: 1.7;
        text-align: justify;
    }
}