.u-margin-bottom-xs {
  margin-bottom: 1rem;
}

.u-margin-bottom-small {
  margin-bottom: 3rem;
}

.u-margin-bottom-middle {
  margin-bottom: 5rem;
}

.u-margin-bottom-big {
  margin-bottom: 7rem;
}

.u-text-center {
  text-align: center;
}

.centered {
  @include positionCenter;
}
