$nav-color: #4d4959;
$text-color: #8c8e90;
$text-color-light: #b6b8b9;
$title-color: #353738;
$bg-section-color: #f7f7f7;

$primary-color: #64c29e;
$invalid-color: rgb(255, 92, 43);

$color-sect-btn: #282f35;